@use 'variables' as v;
@use 'sass:color';

@mixin lessThanMobile {
    @media (max-width: 300px) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: v.$mobile) {
        @content;
    }
}

@mixin betweenMobileTablet {
    @media (min-width: 450px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin BlueButton {
    appearance: none;
    -moz-appearance: none;
    font-family: v.$fuente_principal;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    font-weight: v.$medium;
    font-size: 0.9rem;
    cursor: pointer;

    background-color: v.$Blue600;
    color: v.$White;

    &:hover,
    &:focus{
        background-color: v.$White;
        color: v.$Blue600;
        border: 2px solid v.$Blue600;
    }

    &:focus{
        outline: 2px solid v.$Blue600;
        outline-offset: 4px;
    }
}

@mixin RedButton {
    appearance: none;
    -moz-appearance: none;
    font-family: v.$fuente_principal;
    text-transform: uppercase;
    font-weight: v.$medium;
    letter-spacing: 1px;
    background-color: v.$Red400;
    color: v.$White;
    border: none;
    padding: 0.6rem 2.2rem;
    border-radius: 8px;
    cursor: pointer;

    &:hover,
    &:focus{
        background-color: v.$White;
        border: 2px solid v.$Red400;
        color: v.$Red400;
    }

     &:focus{
        outline: 2px solid v.$Red400;
        outline-offset: 4px;
    }
}

