//Tamaño Media Queries 
$mobile: 375px;
$tablet: 768px;
$desktop: 1200px;

//Fuentes
$fuente_principal: "Rubik", sans-serif;

//Colores
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);

$Blue600: hsl(231, 69%, 60%);

$Blue950: hsl(229, 31%, 21%);
$Blue950-translucent: hsla(229, 31%, 21%, 0.85);
$Red400: hsl(0, 94%, 66%);
$Grey50: hsl(0, 0%, 97%);
$Grey600: hsl(228, 12%, 41%);


//Tamaños fuente
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;